<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.HuowuxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Huowuxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="huowubianhao" jdbcType="VARCHAR" property="huowubianhao" />    <result column="huowumingcheng" jdbcType="VARCHAR" property="huowumingcheng" />    <result column="huowuleixing" jdbcType="VARCHAR" property="huowuleixing" />    <result column="kucun" jdbcType="VARCHAR" property="kucun" />    <result column="jiage" jdbcType="VARCHAR" property="jiage" />    <result column="shiwutu" jdbcType="VARCHAR" property="shiwutu" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, huowubianhao,huowumingcheng,huowuleixing,kucun,jiage,shiwutu,beizhu, addtime
  </sql>
  <select id="quchongHuowuxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from huowuxinxi 
    where huowubianhao = #{huowubianhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from huowuxinxi  where 1=1
    <if test="huowubianhao!=null">and huowubianhao like  concat('%',#{huowubianhao,jdbcType=VARCHAR},'%')</if>     <if test="huowumingcheng!=null">and huowumingcheng like  concat('%',#{huowumingcheng,jdbcType=VARCHAR},'%')</if>     <if test="huowuleixing!=null">and huowuleixing like  concat('%',#{huowuleixing,jdbcType=VARCHAR},'%')</if>     <if test="kucun1!=null">and kucun &gt;=  concat('',#{kucun1,jdbcType=VARCHAR},'')</if>     <if test="kucun2!=null">and kucun &lt;=  concat('',#{kucun2,jdbcType=VARCHAR},'')</if>     <if test="jiage!=null">and jiage like  concat('%',#{jiage,jdbcType=VARCHAR},'%')</if>     <if test="shiwutu!=null">and shiwutu like  concat('%',#{shiwutu,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from huowuxinxi  where 1=1
    <if test="huowubianhao!=null">
    and huowubianhao =#{huowubianhao}
    </if>
  </select>
  
  <select id="getsyhuowuxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from huowuxinxi  where 1=1
    limit 0,8
  </select>
  <select id="getsyhuowuxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from huowuxinxi  where 1=1
    limit 0,8
  </select>
  <select id="getsyhuowuxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from huowuxinxi  where 1=1
    limit 0,8
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from huowuxinxi where 1=1 
     <if test="huowubianhao!=null">and huowubianhao like  concat('%',#{huowubianhao,jdbcType=VARCHAR},'%')</if>     <if test="huowumingcheng!=null">and huowumingcheng like  concat('%',#{huowumingcheng,jdbcType=VARCHAR},'%')</if>     <if test="huowuleixing!=null">and huowuleixing like  concat('%',#{huowuleixing,jdbcType=VARCHAR},'%')</if>     <if test="kucun1!=null">and kucun &gt;=  concat('',#{kucun1,jdbcType=VARCHAR},'')</if>     <if test="kucun2!=null">and kucun &lt;=  concat('',#{kucun2,jdbcType=VARCHAR},'')</if>     <if test="jiage!=null">and jiage like  concat('%',#{jiage,jdbcType=VARCHAR},'%')</if>     <if test="shiwutu!=null">and shiwutu like  concat('%',#{shiwutu,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from huowuxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from huowuxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Huowuxinxi">
    insert into huowuxinxi (id, huowubianhao,huowumingcheng,huowuleixing,kucun,jiage,shiwutu,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{huowubianhao,jdbcType=VARCHAR},#{huowumingcheng,jdbcType=VARCHAR},#{huowuleixing,jdbcType=VARCHAR},#{kucun,jdbcType=VARCHAR},#{jiage,jdbcType=VARCHAR},#{shiwutu,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Huowuxinxi">
    insert into huowuxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="huowubianhao != null"> huowubianhao, </if>      <if test="huowumingcheng != null"> huowumingcheng, </if>      <if test="huowuleixing != null"> huowuleixing, </if>      <if test="kucun != null"> kucun, </if>      <if test="jiage != null"> jiage, </if>      <if test="shiwutu != null"> shiwutu, </if>      <if test="beizhu != null"> beizhu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="huowubianhao != null"> #{huowubianhao,jdbcType=VARCHAR},</if>      <if test="huowumingcheng != null"> #{huowumingcheng,jdbcType=VARCHAR},</if>      <if test="huowuleixing != null"> #{huowuleixing,jdbcType=VARCHAR},</if>      <if test="kucun != null"> #{kucun,jdbcType=VARCHAR},</if>      <if test="jiage != null"> #{jiage,jdbcType=VARCHAR},</if>      <if test="shiwutu != null"> #{shiwutu,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Huowuxinxi">
    update huowuxinxi
    <set>
	  <if test="huowubianhao != null"> huowubianhao = #{huowubianhao,jdbcType=VARCHAR},</if>      <if test="huowumingcheng != null"> huowumingcheng = #{huowumingcheng,jdbcType=VARCHAR},</if>      <if test="huowuleixing != null"> huowuleixing = #{huowuleixing,jdbcType=VARCHAR},</if>      <if test="kucun != null"> kucun = #{kucun,jdbcType=VARCHAR},</if>      <if test="jiage != null"> jiage = #{jiage,jdbcType=VARCHAR},</if>      <if test="shiwutu != null"> shiwutu = #{shiwutu,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Huowuxinxi">
    update huowuxinxi
    set huowubianhao = #{huowubianhao,jdbcType=VARCHAR},huowumingcheng = #{huowumingcheng,jdbcType=VARCHAR},huowuleixing = #{huowuleixing,jdbcType=VARCHAR},kucun = #{kucun,jdbcType=VARCHAR},jiage = #{jiage,jdbcType=VARCHAR},shiwutu = #{shiwutu,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
